.search::-webkit-scrollbar {
  width: 4px;
}

.search::-webkit-scrollbar-track {
  background: 0 0
}

.search::-webkit-scrollbar-thumb {
  background-color: rgb(141, 141, 141);
  border: 0px solid #00000000;
  border-radius: 20px;
}

.search {
  scrollbar: thin;
}
